<div class="jumbotron jumbotron-white">
	<div class="container">
		<div class="row no-gutter">
			<div class="main" ng-controller = "circuitController">
				<h3>Circuits</h3>
				<input class="zoek" placeholder="Zoeken..." ng-model="query">
				<div class="circuits">
					<div class="row" ng-repeat="circuit in circuitInfo | filter:query">
						<div class="thumb col-md-4"><img ng-src="images/circuits/{{ circuit.circuitId }}.png" /></div>
						<div class="titel col-md-8">{{ circuit.circuitName }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>